/*amindmobile@gmail.com*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUQjIg1_i6t8kCHKm45_QpRyS7j.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}

@font-face {
  font-family: Gotham;
  src: url('../font/GothaProLig.otf') format('opentype');
}

body {
  line-height: 0.7;
  margin: 0 auto;
  width: 1366px;
  font-family: Montserrat;
  background-color: #ffffff;
}

.header {
  padding-left: 98px;
  height: 90px;
}

.header .logo {
  float: left;
  margin-top: 63px;
}

.navigation {
  display: flex;
  float: right;
}

.navigation .menu {
  margin-top: 67px;
  margin-right: 21px;
}

.navigation .menu li {
  display: inline-block;
}

.navigation .menu a {
  padding: 0 13px 5px;
  text-decoration: none;
  letter-spacing: 1.3px;
  font-size: 14px;
  color: #8c8c8c;
}

.navigation .menu a:hover {
  color: #212121;
  border-bottom: 3px solid #212121;
}

.navigation .menu .menu_link_focus {
  border-bottom: 3px solid #212121;
  font-weight: bold;
  color: #212121;
}

.navigation .search {
  margin-top: 63px;
  margin-right: 167px;
}

.content .tag {
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: bold;
}

.content .name {
  color: #212121;
}

.content .details {
  font-size: 14px;
  line-height: 1.71;
  color: #6c6c6c;
}

.back {
  display: block;
  margin-top: 30px;
  width: 212px;
  height: 45px;
  padding-top: 16px;
  padding-left: 31px;
  box-sizing: border-box;
  border-radius: 22.5px;
  box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-size: 18px;
  font-weight: bold;
  color: #8c8c8c;
  background-color: #ffffff;
}

.back img {
  float: right;
  margin-right: 30px;
}

.back:hover {
  box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.6);
  color: #212121;
  background-color: #f7f7f7;
}

.back:active {
  position: relative;
  top: 3px;
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.35);
}

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 623px;
}

.navi .circle {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  opacity: 0.2;
  background-color: #212121;
}

.navi .circle:hover {
  opacity: 1;
}

.navi .circle_active {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  opacity: 1;
}

.slider {
  height: 800px;
  background-image: url(../images/slider_0.jpg);
}

.slider_content {
  float: left;
  margin-left: 98px;
  margin-top: 283px;
  width: 462px;
}

.slider_content .tag {
  color: #43a047;
}

.slider_content .name {
  margin-top: 22px;
  text-transform: uppercase;
  letter-spacing: -3px;
  font-size: 62px;
  font-weight: 100;
}

.slider_content .details {
  margin-top: 30px;
  letter-spacing: -0.1px;
}

.slider_navigation {
  margin-top: 651px;
}

.featured_product .tab_controll {
  float: left;
  margin: 120px 0 0 107px;
}

.featured_product .tab_controll li {
  display: inline-block;
}

.featured_product .tab_controll li > a {
  border-bottom: 1px solid #6c6c6c;
  padding: 0 9px 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
  color: #6c6c6c;
}

.featured_product .tab_controll li > a:hover {
  border-bottom: 3px solid #212121;
  color: #212121;
}

.featured_product .tab_controll .active {
  border-bottom: 3px solid #212121;
  color: #212121;
}

.featured_product .explore_all,
.trending_products .explore_all,
.related_products .explore_all {
  float: right;
  margin: 138px 97px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  font-size: 18px;
  font-weight: bold;
  color: #6c6c6c;
}

.featured_product .explore_all:hover {
  color: #212121;
}

.featured_product .tab_content {
  display: flex;
  justify-content: space-between;
  margin: 68px 98px 0;
}

.featured_product .tab_content a {
  display: block;
  position: relative;
  height: 270px;
  width: 270px;
}

.featured_product .tab_content .hidden {
  display: none;
  position: absolute;
  top: 0;
  height: 268px;
  width: 268px;
  border: solid 1px #9c9c9c;
}

.featured_product .tab_content .hidden .icon_hover {
  margin: 62px auto 0;
  width: 48px;
  height: 48px;
  padding: 14px 18px;
  box-sizing: border-box;
  border-radius: 24px;
  box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: #ffffff;
}

.featured_product .tab_content .hidden h3 {
  margin-top: 19px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #212121;
}

.featured_product .tab_content .hidden p {
  margin: 23px 32px 0;
  text-align: center;
  line-height: 1.57;
  letter-spacing: -0.3px;
  font-size: 14px;
  color: #6c6c6c;
}

.featured_product .tab_content a:hover .hidden {
  display: block;
  opacity: 0.9;
  background-color: #ffffff;
}

.promo_product .promo_content_1,
.promo_product .promo_content_2 {
  margin-top: 120px;
  height: 683px;
  width: 682px;
}

.promo_product .promo_content_1 {
  float: left;
  background-image: url(../images/promo_1.jpg);
}

.promo_product .promo_content_2 {
  float: right;
  background-image: url(../images/promo_2.jpg);
}

.promo_product .content {
  padding-left: 51px;
  box-sizing: border-box;
}

.promo_product .content .tag {
  margin-top: 228px;
  text-transform: uppercase;
  color: #1e88e5;
}

.promo_product .content .name {
  margin-top: 18px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.promo_product .content .details {
  margin-top: 24px;
  letter-spacing: -0.2px;
  width: 374px;
}

.trending_products .title {
  float: left;
  margin: 119px 0 0 98px;
  font-size: 36px;
  font-weight: bold;
  color: #212121;
}

.trending_products .explore_all:hover {
  color: #212121;
}

.trending_products .products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 64px 98px 0;
}

.trending_products .products a {
  display: block;
  position: relative;
  height: 370px;
  width: 370px;
}

.trending_products .products .hidden {
  display: none;
  position: absolute;
  top: 0;
  height: 366px;
  width: 366px;
  border: solid 2px #9c9c9c;
}

.trending_products .products .hidden .icon_hover {
  margin: 102px auto 0;
  width: 48px;
  height: 48px;
  padding: 14px 18px;
  box-sizing: border-box;
  border-radius: 24px;
  box-shadow: 0 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: #ffffff;
}

.trending_products .products .hidden h3 {
  margin-top: 19px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #212121;
}

.trending_products .products .hidden p {
  margin: 23px 32px 0;
  text-align: center;
  line-height: 1.57;
  letter-spacing: -0.3px;
  font-size: 14px;
  color: #6c6c6c;
}

.trending_products .products a:hover .hidden {
  display: block;
  opacity: 0.9;
  background-color: #ffffff;
}

.trending_products .products div {
  margin-bottom: 30px;
}

.hot_deals {
  margin-top: 90px;
  height: 800px;
  background-image: url(../images/slider_2.jpg);
}

.hot_deals_content {
  float: left;
  margin-left: 98px;
  margin-top: 283px;
  width: 462px;
}

.hot_deals_content .tag {
  text-transform: uppercase;
  color: #e53935;
}

.hot_deals_content .name {
  margin-top: 22px;
  text-transform: uppercase;
  letter-spacing: -3px;
  font-size: 62px;
  font-weight: 100;
}

.hot_deals_content .details {
  margin-top: 30px;
  letter-spacing: -0.1px;
}

.hot_deals_navigation {
  margin-top: 740px;
}

.exclusive_product {
  margin: 120px 98px 0;
  display: flex;
  justify-content: space-between;
}

.exclusive_product .product_1_lg {
  width: 570px;
  height: 570px;
  background-image: url(../images/product_1_lg.jpg);
  padding-left: 31px;
  box-sizing: border-box;
}

.exclusive_product .product_1_lg .tag {
  margin-top: 228px;
  text-transform: uppercase;
  color: #1e88e5;
}

.exclusive_product .product_1_lg .name {
  margin-top: 18px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.exclusive_product .product_1_lg .details {
  margin-top: 24px;
  letter-spacing: -0.2px;
  width: 370px;
}

.exclusive_product .products_sm {
  width: 570px;
  height: 570px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.exclusive_product .products_sm a {
  display: block;
  position: relative;
  height: 270px;
  width: 270px;
}

.exclusive_product .products_sm .hidden {
  display: none;
  position: absolute;
  top: 0;
  height: 268px;
  width: 268px;
  border: solid 1px #9c9c9c;
}

.exclusive_product .products_sm .hidden .icon_hover {
  margin: 62px auto 0;
  width: 48px;
  height: 48px;
  padding: 14px 18px;
  box-sizing: border-box;
  border-radius: 24px;
  box-shadow: 0 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: #ffffff;
}

.exclusive_product .products_sm .hidden h3 {
  margin-top: 19px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #212121;
}

.exclusive_product .products_sm .hidden p {
  margin: 23px 32px 0;
  text-align: center;
  line-height: 1.57;
  letter-spacing: -0.3px;
  font-size: 14px;
  color: #6c6c6c;
}

.exclusive_product .products_sm a:hover .hidden {
  display: block;
  opacity: 0.9;
  background-color: #ffffff;
}

.mobile_app {
  margin-top: 120px;
  padding-left: 99px;
  height: 516px;
  background-image: url(../images/back_image.jpg);
}

.mobile_app .tag {
  padding-top: 125px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #6c6c6c;
}

.mobile_app .name {
  margin-top: 11px;
  width: 407px;
  text-transform: uppercase;
  line-height: 1.16;
  letter-spacing: -5px;
  font-size: 62px;
  font-weight: 100;
}

.mobile_app .details {
  margin-top: 16px;
  line-height: inherit;
  font-size: 22px;
}
/*amindmobile@gmail.com*/
.mobile_app a > img {
  height: 40px;
  margin-top: 33px;
}

.top_div {
  height: 360px;
  background-color: #f5f5f5;
}

.top_div h2 {
  margin-top: 171px;
  padding-left: 98px;
  font-size: 62px;
  font-weight: 100;
  color: #212121;
}

.location {
  display: flex;
  justify-content: space-between;
  margin: 71px 98px 122px;
}

.location div {
  height: 368px;
  width: 368px;
  border: solid 1px #9c9c9c;
  text-align: center;
  font-weight: bold;
}

.location div img {
  margin-top: 48px;
}

.location div h3 {
  margin-top: 34px;
  text-transform: uppercase;
  font-size: 22px;
  color: #212121;
}

.location div h4 {
  margin-top: 21px;
  font-size: 14px;
  color: #6c6c6c;
}

.location div p {
  margin-top: 5px;
  line-height: 1.43;
  font-size: 14px;
  color: #212121;
}

.location div .adress {
  font-weight: 300;
}

.product .tab_control_2 {
  margin: 71px 0 0 105px;
}

.product .tab_control_2 li {
  display: inline-block;
}

.product .tab_control_2 li > a {
  border-bottom: 1px solid #6c6c6c;
  padding: 0 28px 10px 7px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #6c6c6c;
}

.product .tab_control_2 li > a:hover {
  border-bottom: 3px solid #212121;
  color: #212121;
}

.product .tab_control_2 .active {
  border-bottom: 3px solid #212121;
  color: #212121;
}

.product .products {
  margin: 72px 98px 0;
}

.product .set {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 770px;
  padding-bottom: 29px;
}

.product .set a {
  display: block;
  position: relative;
  height: 370px;
  width: 370px;
}

.product .set .hidden {
  display: none;
  position: absolute;
  top: 0;
  height: 366px;
  width: 366px;
  border: solid 2px #9c9c9c;
}

.product .set .hidden .icon_hover {
  margin: 102px auto 0;
  width: 48px;
  height: 48px;
  padding: 14px 18px;
  box-sizing: border-box;
  border-radius: 24px;
  box-shadow: 0 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: #ffffff;
}

.product .set .hidden h3 {
  margin-top: 19px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #212121;
}

.product .set .hidden p {
  margin: 23px 32px 0;
  text-align: center;
  line-height: 1.57;
  letter-spacing: -0.3px;
  font-size: 14px;
  color: #6c6c6c;
}

.product .set a:hover .hidden {
  display: block;
  opacity: 0.9;
  background-color: #ffffff;
}

.product .set div {
  margin-bottom: 30px;
}

.product .loading {
  display: block;
  margin-top: 41px;
  margin-bottom: 20px;
  height: 29px;
  text-align: center;
}

.product .loading img {
  display: inline;
}

.products_details .links {
  margin-top: 29px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #f4f4f4;
}

.products_details .links li {
  display: inline-block;
  margin: 0 18px;
}

.products_details .links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #6c6c6c;
}

.products_details .links a:hover {
  color: #212121;
}

.products_details .links .active {
  color: #212121;
}

.products_details .product_slider {
  margin: 72px 0 0 98px;
  width: 570px;
  height: 651px;
  float: left;
}

.products_details .product_slider .control {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
  width: 230px;
  height: 70px;
}

.products_details .product_slider .active {
  opacity: 0.3;
}

.products_details .product_slider .control > a:hover {
  outline: 1px solid #9c9c9c;
}

.products_details .description {
  float: right;
  margin: 72px 132px 0 0;
  width: 510px;
  height: 651px;
  text-align: center;
}

.products_details .description h3 {
  margin-top: 47px;
  font-size: 36px;
  font-weight: bold;
  color: #212121;
}

.products_details .description h4 {
  margin-top: 23px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #e53935;
}

.products_details .description .price {
  margin-top: 36px;
  font-family: Gotham;
  font-size: 36px;
  color: #212121;
}

.products_details .description .price span {
  font-size: 72px;
}

.products_details .description .back {
  width: 510px;
  height: 71px;
  padding: 23px 0 0 160px;
  border-radius: 35.5px;
  line-height: 24px;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f44336;
}

.products_details .description .back img {
  margin-right: 162px;
}

.products_details .description .back:hover {
  background-color: #e53935;
}

.products_details .description .text_description {
  margin-top: 45px;
  margin-left: 5px;
  height: 244px;
  overflow: auto;
  text-overflow: ellipsis;
  text-align: left;
  line-height: 24px;
  font-family: Gotham;
  font-size: 16px;
  color: #212121;
}

.products_details .description .text_description p {
  padding-bottom: 10px;
}

.related_products {
  padding-bottom: 90px;
}

.related_products .title {
  float: left;
  margin: 119px 0 0 98px;
  font-size: 36px;
  font-weight: bold;
  color: #212121;
}

.related_products .explore_all:hover {
  color: #212121;
}

.related_products .products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 64px 98px 0;
}

.related_products .products a {
  display: block;
  position: relative;
  height: 370px;
  width: 370px;
}

.related_products .products .hidden {
  display: none;
  position: absolute;
  top: 0;
  height: 366px;
  width: 366px;
  border: solid 2px #9c9c9c;
}

.related_products .products .hidden .icon_hover {
  margin: 102px auto 0;
  width: 48px;
  height: 48px;
  padding: 14px 18px;
  box-sizing: border-box;
  border-radius: 24px;
  box-shadow: 0 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
  background-color: #ffffff;
}

.related_products .products .hidden h3 {
  margin-top: 19px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #212121;
}

.related_products .products .hidden p {
  margin: 23px 32px 0;
  text-align: center;
  line-height: 1.57;
  letter-spacing: -0.3px;
  font-size: 14px;
  color: #6c6c6c;
}

.related_products .products a:hover .hidden {
  display: block;
  opacity: 0.9;
  background-color: #ffffff;
}

.related_products .products div {
  margin-bottom: 30px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  height: 384px;
  padding: 120px 0 0 97px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

footer h3 {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 18px;
  font-weight: bold;
  color: #6c6c6c;
}

footer p {
  padding-top: 20px;
  letter-spacing: -0.3px;
  line-height: 1.57;
  font-size: 14px;
  font-weight: 300;
  color: #212121;
}

footer .contact_us {
  margin-right: 80px;
  width: 221px;
  height: 139px;
}

/*footer .contact-us p{*/
/*amindmobile@gmail.com*/
/*  font-weight: 600;*/
/*}*/

footer .info {
  margin-right: 78px;
  width: 422px;
  height: 101px;
}

footer .info div {
  padding-top: 18px;
}

footer .info a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3px;
  line-height: 1.86;
  font-size: 14px;
  font-weight: bold;
  color: #212121;
}

footer .info a:hover {
  text-decoration: underline;
}

footer .info .url_1 {
  float: left;
  width: 132px;
}

footer .info .url_2 {
  float: right;
  width: 187px;
}

footer .touch {
  width: 370px;
  height: 147px;
}
/*amindmobile@gmail.com*/
footer .touch form {
  position: relative;
}

footer .touch input {
  display: block;
  margin-top: 26px;
  width: 370px;
  height: 48px;
  padding-left: 19px;
  padding-right: 50px;
  box-sizing: border-box;
  border: solid 1px #d9dee1;
  font-size: 14px;
  color: #6c6c6c;
  background-color: #ffffff;
}

footer .touch input:focus {
  border: solid 2px #43a047;
}

footer .touch a {
  position: absolute;
  top: 13px;
  left: 329px;
}

footer .touch a:hover {
  outline: 1px solid #d9dee1;
}

footer .copyright,
footer .cookies {
  margin-top: 44px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 12px;
  font-weight: bold;
  color: #6c6c6c;
}

footer .copyright {
  padding-right: 158px;
}

footer .social {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  width: 129px;
  padding-right: 172px;
}

footer .social a {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-image: url(../images/social.jpg);
}

footer .social .twitter {
  background-position: 95px 0;
}

footer .social .google {
  background-position: 62px 0;
}

footer .social .pinterest {
  background-position: 28px 0;
}

footer .social .facebook:hover,
footer .social .twitter:hover,
footer .social .google:hover,
footer .social .pinterest:hover {
  filter: contrast(180%);
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.aboutme_text {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-left: 15px;
  margin-right: 10px;
  text-align: justify;
}

.aboutme_text_header {
  font-size: 14px;
  color: gray;
  font-weight: bold;
  /*font-weight: 600;*/
}

.aboutme_text:first-letter {
  font-weight: bold;
  text-transform: capitalize;
}